<h1>Editing Permission</h1>

<%= render 'form', permission: @permission %>

<%= link_to 'Show', @permission, class: 'btn btn-sm btn-outline-primary' %>
<%= link_to 'Back', permissions_path, class: 'btn btn-sm btn-outline-secondary' %>
