<h1>Airtable API</h1>
<p>This is a demo app, illustrating the value of the Airtable API for integrating web applications with Airtable.</p>
<p><a href="https://www.airtable.com/" target="_blank">Airtable</a> is an excellent cloud database that allows it's users to store vast amounts of information (including
pictures and documents) in an organized and easily sorted manner, accessible by computer or mobile device</p>
