<h1>Airtable API</h1>
<p>This is a demo app, illustrating the value of the Airtable API for integrating web applications with Airtable.</p>
<p><a href="https://www.airtable.com/" target="_blank">Airtable</a> is an excellent cloud database that allows it's users to store vast amounts of information (including
pictures and documents) in an organized and easily sorted manner, accessible by computer or mobile device.
<a href="https://airtable.com/shrdI7NOuKUFnd3Al" target="_blank">You can view the source database here</a> .</p>
<div class="text-center my-5">
    <%= link_to 'User Login', login_path, class: 'btn btn-lg btn-primary' %>
</div>