<h1>Airtable API</h1>
<h2>Airtable is a cloud database</h2>

<p><a href="https://www.airtable.com/" target="_blank">Airtable</a> is an excellent cloud database that allows
it's users to store vast amounts of information (including pictures and documents) in an organized and easily
sorted manner, accessible by computer or mobile device.
<a href="https://airtable.com/shrdI7NOuKUFnd3Al" target="_blank">You can view the demo database here</a> .</p>
<h2>This website is a resource for your technicians</h2>
<ul>
    <li>The information they need <em>without full database access</em></li>
    <li>Equipment and site information <em>without binders full of paperwork</em></li>
    <li>Previous service call details <em>without needing to call the office</em></li>
</ul>
<h2>This website is a portal for your clients</h2>
<ul>
    <li>Show them when the last maintenance was done</li>
    <li>Prove the value of your work with before and after pictures</li>
    <li>Leave a "digital paper trail" showing what they are paying for</li>
</ul>
<div class="text-center my-5">
    <%= link_to 'User Login', login_path, class: 'btn btn-lg btn-primary' %>
</div>