<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'All Sites', sites_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'User Accounts', users_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
  <%= link_to 'Admin Log out', session_destroy_path, class: 'btn btn-sm btn-outline-info' %>
</nav>